body {
  margin-top: 70px;
  background-image: url("./full-bloom.png");
  padding-bottom: 100px;
}
h1,
h3,
h4,
h5 {
  font-family: "Nanum Gothic", sans-serif;
}
h2,
h6 {
  text-align: center;
  font-family: "Nanum Gothic", sans-serif;
  margin-top: 4px;
}
/* Home Page */
.navbar {
  height: 70px;
}
.jumbotron {
  background-color: #c5c5c5;
  color: black;
  border-radius: 4px;
  padding: 10px;
  text-align: center;
  position: relative;
  top: 10px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  overflow: hidden;
}
.display-4 {
  font-family: "Cuprum", sans-serif;
  text-align: center;
}
.lead {
  font-size: 18px;
}

.errorText {
  color: red;
}

#linkToProjects {
  font-size: 18px;
  color: rgb(15, 15, 15);
}
#linkToProjects:hover {
  color: whitesmoke;
  text-decoration: none;
}
.search-container {
  float: right;
  position: relative;
  right: 100px;
  bottom: 20px;
}
.searchBar-title {
  color: white;
  position: relative;
  right: 160px;
  top: 35px;
}
#character-search {
  width: 80%;
  height: 30px;
}
#search-btn {
  background-color: #18a0ac;
  font-size: 13px;
  position: absolute;
  top: 30px;
  left: 170px;
  width: 80px;
  height: 35px;
}
#search-btn:hover {
  width: 83px;
  height: 38px;
}
.topFive {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 20px;
  margin: 0;
  padding-inline-start: 0;
}
.topFive > .topFiveProjects {
  background-color: whitesmoke;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
  border-radius: 4px;
  border: 1px solid rgb(222, 228, 231);
  padding: 10px;
  list-style-type: none;
  overflow: hidden;
}
.topFiveProjects:hover {
  border: 1px solid #343a40;
  cursor: pointer;
}
.project-title {
  text-align: center;
  font-family: Cuprum, sans-serif;
}
.project-desc {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  /* autoprefixer: off */
  -webkit-box-orient: vertical;
  /* autoprefixer: on */
  height: 6em;
}
.viewProjectLink {
  text-decoration: none;
  color: black;
}
.viewProjectLink:hover {
  text-decoration: none;
  color: black;
}
/*-----------*/

/* Pages Title */
.subTitle {
  text-align: left;
  margin-top: 20px;
}
/*-------------*/
.wrapper {
  width: 80%;
  margin: 0 auto;
  position: relative;
}
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 16px;
  padding: 20px;
  margin-top: 20px;
  color: gainsboro;
  background-color: #373c42;
}
/* OAuth login buttons */
#gitHubLoginBtn {
  clear: both;
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
  background-color: rgb(22, 20, 20);
  color: whitesmoke;
  width: 20%;
}
#gitHubLoginBtn:hover {
  background-color: rgb(43, 38, 38);
  text-decoration: none;
}
#googleLogInBtn {
  clear: both;
  display: block;
  margin: 0 auto;
  background-color: rgb(221, 75, 57);
  color: whitesmoke;
  width: 20%;
  margin-bottom: 100px;
}
#googleLogInBtn:hover {
  background-color: rgb(187, 55, 37);
  text-decoration: none;
}
/* ---------------------------*/
/* Form  Flexbox*/
.flexBox {
  display: grid;
  grid-template-columns: auto auto;
}
.RegisterForm {
  width: 80%;
  margin: 0 auto;
  margin-top: 50px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 4px;
  background-color: #eceff3;
}
.loginForm {
  width: 80%;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 4px;
  background-color: #eceff3;
}
/* ---------------------------*/
/* Nav Links  */
.favoritesLink {
  margin-top: 7px;
  padding: 10px;
  color: whitesmoke;
  font-family: "Nanum Gothic", sans-serif;
  font-size: 18px;
}
.favoritesLink:hover {
  background-color: #202224;
  color: whitesmoke;
  text-decoration: none;
}
.avatarDropdown {
  position: relative;
  float: right;
  left: 350px;
  top: 0;
  right: 0;
}
#avatar {
  border-radius: 50%;
  height: 35px;
  width: 30px;
}
.homeLink {
  margin-top: 6px;
}
.dropdown-toggle::after {
  display: none;
}
.projectsDropdown {
  position: relative;
  display: inline-block;
}
.dropBtn {
  background-color: #373c42;
  color: whitesmoke;
  padding: 10px;
  font-family: "Nanum Gothic", sans-serif;
  font-size: 18px;
  border: none;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: whitesmoke;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-content .dropLinks {
  color: black;
  padding: 12px;
  text-decoration: none;
  display: block;
}
.projectsDropdown:hover .dropBtn {
  background-color: #202224;
}
.projectsDropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content .dropLinks:hover {
  background-color: #dddddd;
}
/* ---------------------------*/
/* Projects Page */
#addProject {
  position: absolute;
  right: 0;
  top: 7px;
  color: whitesmoke;
  background-color: #18a0ac;
  border-radius: 4px;
  border: none;
  padding: 5px 10px;
  font-size: 20px;
}
#saveProject {
  color: whitesmoke;
  background-color: #18a0ac;
  border-radius: 4px;
  border: none;
  padding: 5px 10px;
  float: right;
  font-size: 20px;
}
#addProject:hover,
#saveProject:hover {
  font-size: 21px;
}
#imgLabel,
#uploadImage {
  margin-left: 20px;
}
.update-btn {
  float: right;
  margin-right: 5px;
}
.delete-btn {
  float: right;
}
#display-image {
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
  max-width: 650px;
  max-height: 650px;
}
#back-anchor {
  clear: both;
  float: right;
}
#favorites-btn {
  float: right;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  transition: transform 0.2s;
}
#favorites-btn:hover {
  transform: scale(1.2);
}
.table {
  border: 1px solid rgba(63, 59, 59, 0.658);
  border-radius: 5px;
  background-color: whitesmoke;
  padding: 5px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}
th.title {
  width: 13%;
}
th.link {
  width: 12%;
}
.edit-profile {
  width: 50%;
  background-color: #eceff3;
  border: 1px solid rgba(63, 59, 59, 0.658);
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  margin: 0 auto;
  margin-top: 100px;
}
#inputName {
  margin-bottom: 10px;
}
#photo_image {
  margin-bottom: 10px;
}
.project-image {
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
  width: 100%;
  max-width: 700px;
  max-height: 700px;
}
.commentForm {
  margin: 0 auto;
}
.commentBox {
  position: relative;
  margin: 0 auto;
  margin-top: 10px;
  background-color: #eceff3;
  border: 1px solid rgba(63, 59, 59, 0.658);
  border-radius: 5px;
  padding: 10px;
  width: 80%;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}
.comment-textbox {
  width: 60%;
  margin-left: 20%;
  border-radius: 5px;
}
.commentList {
  margin-top: 20px;
  height: 300px;
  overflow-y: scroll;
}
.author-name {
  font-weight: 800;
  margin: 0 5px 0 3px;
}
.favList, #projectContainer{
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 20px;
}
.project-info {
  background-color: whitesmoke;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
  padding: 10px;
  border: 1px solid rgb(222, 228, 231);
  border-radius: 4px;
  list-style-type: none;
  overflow: hidden;
}
.favList, #userProjects {
    padding-inline-start: 0;
}
.favList > .favorites-container {
  background-color: whitesmoke;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
  border-radius: 4px;
  border: 1px solid rgb(222, 228, 231);
  padding: 10px;
  list-style-type: none;
  overflow: hidden;
}
.favorites-container:hover, .project-info:hover {
  border: 1px solid #343a40;
  cursor: pointer;
}
/* --------------*/

/* Media Queries */
@media (max-width: 1450px) {
  #gitHubLoginBtn,
  #googleLogInBtn {
    width: 25%;
  }
  #avatar {
    position: absolute;
    right: 50px;
  }
}
@media (max-width: 1024px) {
  #avatar {
    position: absolute;
    right: 80px;
  }
}
@media (max-width: 960px) {
  #avatar {
    position: absolute;
    right: 100px;
  }
  .searchBar-title {
    opacity: 0;
  }
}
@media (max-width: 790px) {
  .wrapper {
    width: 90%;
  }
  .flexBox {
    grid-template-columns: auto;
  }
  #gitHubLoginBtn,
  #googleLogInBtn {
    width: 50%;
  }
  .topFive,
  .favList,
  #projectContainer {
    grid-template-columns: auto;
  }
  #avatar {
    position: absolute;
    right: 150px;
  }
  .logoTitle {
    display: none;
  }
  .dropdown-menu-right {
    right: 100px;
    top: 58px;
  }
}
@media (max-width: 620px) {
  .navbar {
    height: 120px;
  }
  body {
    margin-top: 130px;
  }
  #avatar {
    position: absolute;
    top: -40px;
  }
  .search-container {
    position: relative;
    right: 25%;
  }
  .dropdown-menu-right {
    right: 120px;
    top: 46px;
  }
  .comment-textbox {
    width: 75%;
    margin-left: 2%
  }
}
@media (max-width: 325px) {
    .comment-textbox {
        width: 70%;
      }
}
/*---------------*/
